.SNG__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.6rem;
  border: none;
  height: 4.8rem;
  padding: 0 3.8rem;
  min-width: 13.6rem;
  position: relative;
  cursor: pointer;
  transition: all 0.14s ease;
  transform-origin: center;
  z-index: 1;
  color: #fff;
  margin-right: 1rem;
  background: linear-gradient(#222, #111);
  vertical-align: top;
  box-sizing: border-box;
}
.SNG__button:hover {
  transform: scale(1.05);
}
.SNG__button:active {
  transform: scale(0.96);
}

.SNG__button .done {
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(00%);
  }
}
.SNG__button .done span {
  font-size: 1.4rem;
  color: white;
  margin-left: 0.5rem;
  opacity: 0;
  animation: slide-in 0.2s ease-in-out 0.4s forwards;
}

.SNG__button--round,
.SNG__button--round::before {
  border-radius: 5rem;
}
//Colors and background

.SNG__button--primary {
  color: #fff;
}
.SNG__button--alt {
  border: 0.2rem solid #fff;
  background-color: transparent;
  background: none;
}

.SNG__button--link {
  padding: 0;
  height: auto;
  line-height: 1.5;
  justify-content: flex-start;
  min-width: auto;
  color: #ffffffaa;
  font-size: 1.5rem;
  background-color: transparent;
  background: none;
  transition: all 0.2s ease;
}

.SNG__button--link:hover {
  transform: none;
  color: #fff;
  text-decoration: underline;
}
.SNG__button--icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}
.SNG__button--icon * {
  fill: inherit;
  color: inherit;
}

$curve: cubic-bezier(0.65, 0, 0.45, 1);

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: transparent;
  fill: none;
  animation: stroke 0.6s $curve forwards;
}

.checkmark {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: block;
  stroke-width: 5;
  stroke: #fff;
  stroke-miterlimit: 10;
  animation: fill 0.2s ease-in-out 0.2s forwards,
    scale 0.2s ease-in-out 0.4s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.2s $curve 0.6s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #ffffff55;
  }
}

@keyframes animate-background {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
