.SNG__header {
  margin: 1rem 0;
  cursor: default; }

.SNG__header--xxlg {
  font-size: 7rem; }

.SNG__header--xlg {
  font-size: 5rem; }

.SNG__header--lg {
  font-size: 4rem; }

.SNG__header--md {
  font-size: 3rem; }

.SNG__header--sm {
  font-size: 2rem; }

.SNG__header--xs {
  font-size: 1.8rem; }

.SNG__header--spaced {
  font-size: 2.8rem;
  margin: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 1rem; }

.SNG__text--gradient, .SNG__text--gradient-animated {
  color: white;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(#888, #111) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  letter-spacing: 0.2rem; }

.SNG__text--gradient-animated {
  animation: moveBackground 10s ease-in-out infinite; }
