:root {
  --theme-dark-dialog-content-background: #111;
  --theme-dark-dialog-header-background: #333;
  --theme-dark-dialog-background: #000000bb; }

.SNG__dialog {
  position: fixed;
  width: 100vw;
  background: var(--theme-dark-dialog-background);
  left: 0;
  top: 0;
  height: 100vh;
  font-weight: normal;
  z-index: 1;
  perspective: 100vw; }

.SNG__dialog--content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateZ(-40px) translateX(-50%) translateY(-50%);
  transform-style: preserve-3d;
  transform-origin: center center;
  max-width: 500px;
  z-index: 3;
  opacity: 0;
  background: var(--theme-dark-dialog-content-background);
  box-shadow: 0 5px 20px #00000099;
  overflow-y: hidden; }

.SNG__dialog--actions {
  padding: 10px 15px;
  background: var(--theme-dark-dialog-header-background);
  position: relative; }

.SNG__dialog--title {
  padding: 15px;
  font-size: 20px;
  background: var(--theme-dark-dialog-header-background);
  position: absolute;
  font-weight: normal;
  left: 0;
  width: 100%;
  z-index: 2;
  top: 0;
  height: 60px; }

.SNG__dialog--title::after,
.SNG__dialog--actions::after {
  position: absolute;
  content: "";
  bottom: 0;
  height: 20px;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  background: linear-gradient(to bottom, var(--theme-dark-dialog-content-background), transparent); }

.SNG__dialog--actions::after {
  bottom: unset;
  top: 0;
  transform: translateY(-100%);
  background: linear-gradient(to top, var(--theme-dark-dialog-content-background), transparent); }

.SNG__dialog--children {
  padding: 15px;
  opacity: 0; }

.SNG__dialog--title .SNG__dialog--close-button {
  position: absolute;
  width: 40px;
  font-size: 20px;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.15s;
  background: transparent;
  color: #fff;
  border: none; }

.SNG__dialog--title .SNG__dialog--close-button:hover {
  background: #ffffff11; }

.SNG__dialog--title .SNG__dialog--close-button:focus {
  outline: none;
  box-shadow: 0 0px 0px 2px var(--theme-color); }

.dialog-show {
  animation: showDialog 0.3s ease-in-out forwards; }

.dialog-show .SNG__dialog--content {
  animation: showDialogContent 0.2s ease-in-out 0.3s forwards; }

.dialog-show .SNG__dialog--children {
  animation: showChildren 0.5s ease-in-out 0.5s forwards;
  margin-top: 60px;
  max-height: 50vh;
  overflow-y: auto; }

.SNG__dialog.SNG__dialog__full-with-actions .SNG__dialog--children {
  height: calc(100vh - 130px);
  max-height: unset; }

.SNG__dialog.SNG__dialog__full .SNG__dialog--children {
  height: calc(100vh - 60px);
  max-height: unset; }

.dialog-hide {
  animation: hideDialog 0.3s ease-in-out 0.1s forwards; }

.dialog-hide .SNG__dialog--content {
  animation: hideDialogContent 0.2s ease-in-out forwards; }

@keyframes showChildren {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes showDialog {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes showDialogContent {
  from {
    opacity: 0;
    transform: translateZ(-40px) translateX(-50%) translateY(-50%); }
  to {
    opacity: 1;
    transform: translateZ(0px) translateX(-50%) translateY(-50%); } }

@keyframes hideDialog {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes hideDialogContent {
  from {
    opacity: 1;
    transform: translateZ(0px) translateX(-50%) translateY(-50%); }
  to {
    opacity: 0;
    transform: translateZ(-20px) translateX(-50%) translateY(-50%); } }

@media only screen and (max-width: 480px) {
  .dialog-show .SNG__dialog--children {
    max-height: 60vh; }
  .SNG__dialog--content {
    width: 90vw; }
  .SNG__dialog.SNG__dialog__full-with-actions .SNG__dialog--children {
    height: calc(100vh - 216px);
    max-height: unset; } }
