.HUI__presentor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; }

.HUI__presentor--banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40rem;
  height: 40rem;
  text-align: center;
  position: relative;
  background-color: #000;
  border-radius: 50%; }

.HUI__presentor--banner::before, .HUI__presentor--banner::after {
  content: '';
  position: absolute;
  left: -0.1rem;
  top: -0.1rem;
  background: -webkit-linear-gradient(transparent, transparent), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYAbU53k3T4mEbN19XbgGjE3NWPioOAwT9ck7DxpdwH3IaEAz-) repeat;
  background: -o-linear-gradient(transparent, transparent);
  z-index: -1;
  width: calc(100% + 0.2rem);
  height: calc(100% + 0.2rem);
  filter: blur(3rem);
  border-radius: 50%;
  animation: moveBackground 10s linear infinite; }

.HUI__presentor--banner > div:first-child {
  display: block;
  color: white;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYAbU53k3T4mEbN19XbgGjE3NWPioOAwT9ck7DxpdwH3IaEAz-) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  font-weight: 200;
  font-size: 6rem;
  margin-bottom: 1rem;
  animation: moveBackground 10s ease-in-out infinite; }

@keyframes moveBackground {
  0% {
    background-position-y: 0; }
  50% {
    background-position-y: 200%; }
  100% {
    background-position-y: 0; } }

.HUI__presentor--banner > div:last-child {
  font-weight: 100;
  font-size: 2rem; }

.HUI__presentor--simple, .HUI__presentor--simple-full {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.HUI__presentor--simple-full {
  padding: 2rem;
  height: 100vh;
  width: 100vw; }
