.SNG__presentor {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: appear 5s ease-in-out forwards; }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.SNG__presentor--banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40rem;
  margin: calc((100vh - 40rem) / 2) auto;
  height: 40rem;
  text-align: center;
  position: relative;
  background-color: #000;
  border-radius: 50%; }

@keyframes float {
  0% {
    width: 60vmin;
    margin: calc((100vh - 60vmin) / 2) auto;
    height: 60vmin; }
  50% {
    width: 40vmin;
    margin: calc((100vh - 40vmin) / 2) auto;
    height: 40vmin; }
  100% {
    width: 60vmin;
    margin: calc((100vh - 60vmin) / 2) auto;
    height: 60vmin; } }

.SNG__presentor--banner::before,
.SNG__presentor--banner::after,
.SNG__presentor--banner > span {
  content: "";
  position: absolute;
  background: -webkit-linear-gradient(transparent, transparent), url(https://assets.pcmag.com/media/images/457693-interstellar-black-hole.jpg?thumb=y&width=810&height=456) repeat;
  background: -o-linear-gradient(transparent, transparent);
  left: -25%;
  top: -25%;
  width: 150%;
  height: 150%;
  filter: blur(5rem);
  z-index: -3;
  border-radius: 50%;
  animation: moveBackground 3000s linear infinite; }

.SNG__presentor--banner::before {
  filter: blur(1rem);
  background: white;
  left: -0.5rem;
  top: -0.5rem;
  z-index: -1;
  width: calc(100% + 1rem);
  height: calc(100% + 1rem); }

.SNG__presentor--banner > span {
  transform: skewX(60deg);
  left: 0;
  top: 0;
  width: calc(100%);
  height: calc(100%);
  opacity: 1;
  z-index: 0; }

.SNG__presentor--banner > div:first-child {
  display: block;
  width: 100vw;
  letter-spacing: 3rem;
  margin-left: 2rem;
  color: white;
  z-index: 2;
  font-weight: 400;
  font-size: 5vmin;
  margin-bottom: 1rem;
  animation: floatText 10s linear infinite; }

.SNG__presentor--scroll {
  perspective-origin: center;
  width: 100%; }

div[class^="SNG__animate--"] {
  opacity: 0;
  transform-origin: center;
  transform-style: preserve-3d;
  transition: all 0.3s ease-in-out; }

div[class^="SNG__animate--right-"] {
  transform: rotate(5deg) translateX(6rem) translateZ(-10rem) scale(0.9); }

div[class^="SNG__animate--left-"] {
  transform: rotate(-5deg) translateX(-6rem) translateZ(-10rem) scale(0.9); }

div[class^="SNG__animate--top-"] {
  transform: rotate(-5deg) translateY(-6rem) translateZ(-10rem) scale(0.9); }

div[class^="SNG__animate--bottom-"] {
  transform: rotate(5deg) translateY(6rem) translateZ(-10rem) scale(0.9); }

div[class^="SNG__animate--back-"] {
  transform: rotate(0deg) translateZ(-10rem) scale(0.9); }

div[class^="SNG__animate--front-"] {
  transform: rotate(0deg) translateZ(20rem) scale(0.9); }

div[class^="SNG__animate--"].animate {
  opacity: 1;
  transform: rotate(0deg) translateX(0rem) translateY(0rem) translateZ(0rem) scale(1); }

@keyframes moveBackground {
  0% {
    background-position-y: 0; }
  50% {
    background-position-y: 10000%; }
  100% {
    background-position-y: 0; } }

@keyframes floatText {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

.SNG__presentor--banner > div:last-child {
  font-weight: 300;
  font-size: 2rem;
  width: 100vw;
  z-index: 2; }

.SNG__presentor--simple,
.SNG__presentor--simple-full {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.SNG__presentor--simple-full {
  padding: 2rem;
  height: 100vh;
  width: 100vw; }

div[class^="SNG__presentor--smooth-"] {
  overflow-y: hidden;
  width: 100%;
  transition: height 0.25s ease-in-out; }

@media only screen and (max-width: 480px) {
  body {
    overflow-x: hidden; }
  .SNG__presentor--banner > div:first-child {
    letter-spacing: 2rem;
    margin-left: 2rem;
    font-size: 5vmin;
    animation: floatText 20s cubic-bezier(0.55, 0.09, 0.68, 0.53) infinite;
    margin-top: 25rem;
    z-index: 5; }
  .SNG__presentor--banner::after,
  .SNG__presentor--banner > span {
    display: none;
    content: "";
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    animation: none;
    z-index: 5; }
  .SNG__presentor--banner > div:last-child {
    font-size: 10px;
    z-index: 5; }
  .SNG__presentor--banner:before {
    background: #ff006a;
    left: 0rem;
    top: -20rem;
    z-index: -1;
    width: calc(400%);
    height: calc(400%);
    animation: none;
    filter: none;
    box-shadow: 0 0 40vw 40px #ff006a;
    animation: moveSun 10s linear infinite; }
  @keyframes moveSun {
    0% {
      transform: translateX(-200%); }
    100% {
      transform: translateX(200%); } }
  .SNG__presentor--banner > .planet-shadow {
    height: 733px;
    background: #000000fa;
    position: relative;
    width: 100%;
    display: inline-flex;
    position: absolute;
    left: 0;
    z-index: 3;
    top: 50%;
    transform: perspective(80px) rotateX(86deg) skewX(40deg);
    transform-origin: top;
    animation: moveShadow 10s ease-in-out infinite; }
  @keyframes moveShadow {
    0% {
      transform: perspective(80px) rotateX(86deg) skewX(40deg);
      opacity: 0; }
    25% {
      opacity: 0; }
    50% {
      opacity: 1; }
    75% {
      opacity: 0; }
    100% {
      transform: perspective(80px) rotateX(86deg) skewX(-40deg);
      opacity: 0; } }
  .SNG__presentor--banner {
    width: 10rem;
    margin: calc((100vh - 10rem) / 2) auto;
    height: 10rem;
    animation: changePlanetGlow 10s linear 5s infinite; }
  @keyframes changePlanetGlow {
    0% {
      box-shadow: 0 0 0px 0px rgba(255, 0, 106, 0); }
    50% {
      box-shadow: 0 0 20px 0px #ff006a; }
    100% {
      box-shadow: 0 0 0px 0px rgba(255, 0, 106, 0); } }
  .SNG__presentor--banner .planet-glow {
    width: 100%;
    height: 100%;
    display: inline-flex;
    position: absolute;
    left: 0%;
    top: 0%;
    display: flex;
    overflow: hidden;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    z-index: 3;
    color: #00000091; }
  .SNG__presentor--banner .planet-glow::after {
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
    display: inline-flex;
    position: absolute;
    left: 0%;
    background: #ff006a;
    top: 0%;
    overflow: hidden;
    border-radius: 50%;
    transform: translateX(200%);
    box-shadow: 0 0 50px 50px #ff006a;
    animation: movePlanetGlow 10s linear 5s infinite; }
  @keyframes movePlanetGlow {
    0% {
      transform: translateX(200%);
      border-radius: 50%; }
    100% {
      transform: translateX(-200%);
      border-radius: 50%; } } }
