.HUI__nav > nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-weight: 100;
    max-width: 98rem;
    margin: 0 auto;
    background: rgba($color: #000000, $alpha: 0.9);
    z-index: 9999;
}
.HUI__nav .HUI__nav--logo{
    padding: 1rem;
    font-size: 2rem;
    font-weight: 100;
    color: rgb(255, 255, 255);
}
.HUI__nav .HUI__nav--logo a{
    color: #fff;
}
.HUI__nav .HUI__nav--links a:link{
    color: #fff;
    padding: 0.5rem 0;
    margin: 0 1rem;
    position: relative;
    overflow-x: hidden;
    z-index: 10001;
}
.HUI__nav .HUI__nav--links a:hover{
    color: #fff;
}
.HUI__nav .HUI__nav--links a:active{
    color: #fff;
}
.HUI__nav .HUI__nav--links a:visited{
    color: #fff;
}
.HUI__nav .HUI__nav--links a::before, .HUI__nav .HUI__nav--links a::after{
    content: "";
    position: absolute;
    bottom: -0.2rem;
    left: 0%;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    height: 0.1rem;
    transform: scaleX(0.1);
    transform-origin: right;
    background: #fff;
    transition: transform 200ms ease-in, opacity 200ms ease-in;
    z-index: -1;
}
.HUI__nav .HUI__nav--links a::before {
    transform-origin: left;
    right: 0;
    top: -0.2rem;
}
.HUI__nav .HUI__nav--links a:hover::after{
    transform-origin: left;
    transform: scale(1.0);
    opacity: 1;
}
.HUI__nav .HUI__nav--links a:hover::before {
    transform-origin: right;
    transform: scale(1.0);
    opacity: 1;
}
